/url/cache
/.emacs.desktop
/auto-save-list
/.session
/custom.el*
*.elc
CVS
.svn
*~
.cvsignore
.*.lock
/tramp
/TODO
/anything-c-adaptive-history
/.org-id-locations
cookies
/newsticker
/ac-comphist.dat
\#*
/elpa
site-lisp/package/
/swank
/.mc-lists.el
/var
/eshell
/ensime
/projectile-bookmarks.eld
/menu_log.notes
/abbrev_defs
.cask
*.last
recentf
smex-items
ensime-emacs
network-security.data
transient
.lsp-session*
.dap-breakpoints
.cache
workspace